<body>
{% extends 'base.html' %}

{% block contents %}

<br><br>
{% for blog in posts %}

    <div class="container">
    <div class="card" style="width: 68rem">
        <div class="card-header">
          <h3>{{blog.title}}</h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{blog.summary}} <a href="{% url 'detail' blog.id%}"> ...more</a></p>
            <footer class="blockquote-footer">{{blog.pub_date}}</footer>
          </blockquote>
        </div>
      </div>
      </div>
      <br>
{%endfor%}

<div class="container">

  {%if posts.has_previous%}
  <a href="?page=1">First</a>
  <a href="?page={{posts.previous_page_number}}">Previous</a>
  {%endif%}

  <span>{{posts.number}}</span>
  <span>of</span>
  <span>{{posts.paginator.num_pages}}</span>

  {%if posts.has_next%}
  <a href="?page={{posts.next_page_number}}">Next</a>
  <a href="?page={{posts.paginator.num_pages}}">Last</a>
  {%endif%}
</div>
{% endblock %}
</body>